<a href="https://colab.research.google.com/github/NgocCanh2002/Colab-cua-Ngoc-Canh/blob/main/06_09_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt',mode='w') as accounts:
  accounts.write('1 Nguyen Van A 8.0 \n')
  accounts.write('2 Le Thi B 6.8 \n')

In [ ]:
with open('text.txt',mode='w') as accounts:
  print('7.00 Nguyen Van A',file = accounts)
  print('7.01 Le Thi B', file = accounts)

In [ ]:
with open('text.txt',mode='w') as accounts:
  print(f'{'name':<20}{'score':>20}')
  for name in accounts:
    name, score = record.split()
    print(f'{name':<20'}{score:>20}')

SyntaxError: ignored

In [ ]:
import pandas as pd
url = '/content/thongke.csv'
dataframe = pd.read_csv(url)
dataframe.head(5)

   STT Ho va ten      MSSV  Diem Khoa
0    1  Nguyen A  20104001     9  CKM
1    2  Nguyen B  20104002     9  CKM
2    3  Nguyen C  20104003     9  CKM
3    4    Tran A  20104004     8  CKM
4    5    Tran b  20104005     7  CKM

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name']=['Tran Thi Ngoc Canh','Vo Ngoc Thanh Quynh']
dataframe['Student ID']=[20104017,20104053]
dataframe['Score']=[9,9]
dataframe

                  Name  Student ID  Score
0   Tran Thi Ngoc Canh    20104017      9
1  Vo Ngoc Thanh Quynh    20104053      9

In [ ]:
import pandas as pd
url = '/content/thongke.csv'
dataframe = pd.read_csv(url)
dataframe.head(5)

  7.00 Nguyen Van A
0     7.01 Le Thi B

In [1]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
dataframe.head(10)

   STT Ho va ten      MSSV  Diem Khoa  nam NH
0    1  Nguyen A  20104001     9  CKM    2020
1    2  Nguyen B  20104002     9  CKM    2020
2    3  Nguyen C  20104003     9  CKM    2020
3    4    Tran A  20104004     8  CKM    2019
4    5    Tran b  20104005     7  CKM    2019
5    6      Ho E  20104006     8  CKM    2020
6    7      Ho F  20104007     7  CKM    2017
7    8      Ho H  20104008     8  CKM    2016
8    9      Ho M  20104009     6  CKM    2020
9   10      Ly L  20104010     9  CKM    2020

In [2]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe.iloc[5]

STT                 6
Ho va ten        Ho E
MSSV         20104006
Diem                8
Khoa              CKM
nam NH           2020
Name: 5, dtype: object

In [3]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe[:4]

   STT Ho va ten      MSSV  Diem Khoa  nam NH
0    1  Nguyen A  20104001     9  CKM    2020
1    2  Nguyen B  20104002     9  CKM    2020
2    3  Nguyen C  20104003     9  CKM    2020
3    4    Tran A  20104004     8  CKM    2019

In [5]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
#dataframe.head(10)
#dataframe[:4]
dataframe = dataframe.set_index(dataframe["Ho va ten"])
dataframe.loc["Nguyen A"]

STT                 1
Ho va ten    Nguyen A
MSSV         20104001
Diem                9
Khoa              CKM
nam NH           2020
Name: Nguyen A, dtype: object

In [6]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
dataframe[dataframe["Khoa"]=="CKM"].head(5)

   STT Ho va ten      MSSV  Diem Khoa  nam NH
0    1  Nguyen A  20104001     9  CKM    2020
1    2  Nguyen B  20104002     9  CKM    2020
2    3  Nguyen C  20104003     9  CKM    2020
3    4    Tran A  20104004     8  CKM    2019
4    5    Tran b  20104005     7  CKM    2019

In [8]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
dataframe[(dataframe["Khoa"]=="CKM") & (dataframe["nam NH"]==2020)]

   STT Ho va ten      MSSV  Diem Khoa  nam NH
0    1  Nguyen A  20104001     9  CKM    2020
1    2  Nguyen B  20104002     9  CKM    2020
2    3  Nguyen C  20104003     9  CKM    2020
5    6      Ho E  20104006     8  CKM    2020
8    9      Ho M  20104009     6  CKM    2020
9   10      Ly L  20104010     9  CKM    2020

In [10]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
dataframe[(dataframe["Khoa"]=="CKM") & (dataframe["nam NH"]==2020) & (dataframe["Diem"] >= 9)]

   STT Ho va ten      MSSV  Diem Khoa  nam NH
0    1  Nguyen A  20104001     9  CKM    2020
1    2  Nguyen B  20104002     9  CKM    2020
2    3  Nguyen C  20104003     9  CKM    2020
9   10      Ly L  20104010     9  CKM    2020

In [11]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
dataframe["Khoa"].unique()

array(['CKM', 'FHQ'], dtype=object)

In [12]:
import pandas as pd
url = "/content/thongke.csv"
dataframe = pd.read_csv(url)
dataframe["Khoa"].value_counts()

CKM    10
FHQ     1
Name: Khoa, dtype: int64